<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>Вишлист Александра Мусаева</title>
<meta name="description" content="Пункт учёта и планирования мечт" />
<link rel="stylesheet" href="/wishlist/style.css" type="text/css">
</head>

<body>
<h1>Вишлист</h1>
<ul id="wishlist">
{% for item in items %}<li><a href="{{ item.url|safe }}"><p{% if item.status %} class="status-{{ item.status|safe }}"{% endif %}>{{ item.desc }}</p><img src="{{ images_url|safe }}{{ item.image_file|safe }}" width="{{ item.width|safe }}" height="{{ item.height|safe }}" alt=""></a></li>
{% endfor %}</ul>
</body>
</html>
